<%- include("../partials/header") %>
<h2 id="forumHeader" class="title display-2">Create a New Post</h2>

<div class="container my-5">
<<<<<<< HEAD
    <div class="thumbnail bg-success text-light p-2">
        <ul class="mt-2">
            <li>Use "strong" or "em" html tag to bold the word you want to emphasize. <a class="btn btn-sm btn-primary" href="https://www.techonthenet.com/html/elements/strong_tag.php#:~:text=The%20HTML%20tag%20gives,as%20the%20element.">Details here</a> <br></li>
            <li>Use "br" html tag to write in a new line. <a class="btn btn-sm btn-primary" href="https://www.w3schools.com/tags/tag_br.asp">Details here</a></li>
        </ul>
    </div>
=======
>>>>>>> 75c601e34e0b5a74bfcc9a0269a1974e686057f9
    <form id="form" action="/forum" method="POST">
        <div class="card">

            <h2 class="card-title bg-primary pl-5 py-4 text-light"><strong>New Discussion</strong></h2>

            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-3">
                        <label class="input-group-text col-12" for="title">Title:</label>
                    </div>
                    <input type="text" class="form-control" id="title" name="post[title]"
                        placeholder="Enter your title..." required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend col-3">
                        <label class="input-group-text col-12" for="title">Message:</label>
                    </div>
<<<<<<< HEAD
                    <textarea onchange="escapeVal(this.form.area,'<br>')" id="postContent" class="form-control" name="post[content]" aria-label="With textarea"
=======
                    <textarea id="postContent" class="form-control" name="post[content]" aria-label="With textarea"
>>>>>>> 75c601e34e0b5a74bfcc9a0269a1974e686057f9
                        placeholder="Enter your message..." required></textarea>
                </div>
            </div>

        </div>
        <div class="form-group my-5">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
    </form>
</div>
<div class="thumbnail">
</div>

<<<<<<< HEAD
<script src="/js/jquery.js"></script>
<script type="text/javaScript" src="/js/linebreak.js"></script>

=======
>>>>>>> 75c601e34e0b5a74bfcc9a0269a1974e686057f9
<%- include("../partials/footer") %>