<%- include("../partials/header") %>
<div id="containerLog" class="container" style="width: 60%;">
    <h1 class="my-5">Login</h1>
    <form class="thumbnail" id="form" action="/login" method="POST">
        <div class="form-group" id="username">
            <label for="username_input">Username: </label>
            <input class="form-control" type="text" name="username_input" id="username_input"
                placeholder="Enter username">
            <% if (messages.error) { %>
            <%= messages.error  %>
            <% } %>
        </div>

        <br>
        <br>

        <div class="form-group" id="password">
            <label for="password_input">Password: </label>
            <input class="form-control" type="password" name="password_input" id="password_input"
                placeholder="Enter password">
        </div>
        <br>
        <input class="btn btn-lg btn-danger" type="submit" value="Login">
    </form>

    <br>
    <br>
    <a class="text-primary" href="/registration">Don't have an account? Click here to sign up!</a>
    <br>
    <br>
    <br>

    <script src="/js/jquery.js"></script>
    <script src="/js/login.js"></script>
</div>

<%- include("../partials/footer") %>