.jumbo {
    width: 100%; 
    height: 350px; 
    background-image: url("Photo_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.mr-auto {
    margin-right: auto !important;
}

.container-fluid {
    height: 350px;
    width: 100%;
}

.content {
    padding-top: 155px;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    letter-spacing: 1.2px;
}

body {
    background-image: url("Background_1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.displayContent {
    text-align: justify;
    padding: 30px;

}

.box {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 100px;
    opacity: 0;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);;
    transition: all 0.6s;
    border-radius: 10%;
}

img {
    width: 300px;
    align-items: center;
    vertical-align: middle;
    transition: height 2s;
    transition: width 0.6s;
}

.box2 {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 100px;
    opacity: 0;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);;
    transition: all 0.6s;
    width: 300px;
    border-radius: 15%;
}

.box2:hover {
    transform: scale(1.5);
}

.box:hover {
    transform: scale(1.5);
}